{# 404 HTML #}

{#

  This Template contains a custom 404 page_not_found.

#}

{% extends "base.html.j2" %}
{% block content %}
    <div class="jumbotron">
      <h1>Sorry, page not found!</h1>
    </div>
{% endblock %}
