{# USERNAMEFUN HTML J2 TEMPLATE #}

{#

  This Template ....

  KEY POINTS:
    **

    ** Using a jumbotron from bootstrap 4. This page does not include any links
       for bootstrap, another advantage we leverage from extending base.html.j2

#}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends "base.html.j2" %}
    {% block content %}
      <div class="container">
        <div class="jumbotron">
          <form class="" action="{{url_for('usernameFun')}}">
            <label for="funName">First Name:</label>
            <input type="text" name="funName" placeholder="name">
            <input type="submit" name="submitFunName" value="Click ME!">
          </form>
      </div>
    {% endblock %}
  </body>
</html>
